<launch>
  <arg name="map_file" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node name="base_to_laser" pkg="tf" type="static_transform_publisher"
        args="0.065 0.0 0.08 3.14159265 0.0 0.0 base_footprint laser_frame 10" />
  <node name="amcl" pkg="amcl" type="amcl">
    <rosparam file="$(find myagv_navigation)/param/amcl.yaml" command="load" />
  </node>
</launch>
